.champions {
    color: green;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 1500px;
    margin: 0 auto;

    @media only screen and (min-width: 768px){
        & {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media only screen and (min-width: 1200px){
        & {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__champion {
        width: 100%;
    }
}